 <!-- FOOTER -->
      
	<footer class="text-center">
	    <div class="container">
        <p class="pull-right"><a href="#">Subir</a></p>
        <p>&copy; 2014 ConciertosComentados · <a href="#">Privacy</a> · <a href="#">Todos los derechos compartidos</a></p>
        </div>
   
   </footer>